################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Section 1/DemoApp1/.vs/DemoApp1/v16/Server/sqlite3
/Section 2/DataSharingApp/.vs/DataSharingApp/v16/Server/sqlite3
/Section 3/ConcurrentCollectionDemo/.vs/ConcurrentCollectionDemo/v16/Server/sqlite3
/Section 5/ParalellLoopDemo/.vs/ParallelLoopDemo/v16/Server/sqlite3
/Section 6/ParallelLINQ/.vs/ParallelLINQ/v16/Server/sqlite3
/Section 7/AsynchronousDemo/.vs/AsynchronousDemo/v16/Server/sqlite3
/Section 7/AsynchronousDemo/.vs/AsynchronousDemo
/Section 7/WindowsFormsAsyncApp/.vs/WindowsFormsAsyncApp/v16/Server/sqlite3
/Section 7/WindowsFormsAsyncApp2/.vs/WindowsFormsAsyncApp2/v16/Server/sqlite3
