################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Section 1/DemoApp1/.vs/DemoApp1/v16/Server/sqlite3
/Section 2/DataSharingApp/.vs/DataSharingApp/v16/Server/sqlite3
/Section 3/ConcurrentCollectionDemo/.vs/ConcurrentCollectionDemo/v16/Server/sqlite3
/Section 5/ParalellLoopDemo/.vs/ParallelLoopDemo/v16/Server/sqlite3
